<html>
<head>
    <title>Good Morning App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-small is-info">
        <div class="hero-body">
            <p class="title">
                Good morning
            </p>
            <p class="subtitle">
                Say good morning!
            </p>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <div class="columns">
                <div class="column is-3">
                    <form>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" id="morning" class="listen mr-1" value=1>Listen to Red
                            </label>
                        </div>
                        <div class="field">
                            <label class="checkbox mt-1">
                                <input type="checkbox" id="night" class="listen mr-1" value=2>Listen to Blue
                            </label>
                        </div>
                    </form>
                </div>
                <div class="column is-5">
                    <form method="post" action="#" id="say_good_morning_form">
                        <div class="field">
                            <label class="label">Your Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Your Name" id="your-name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Say Good Morning To:</label>
                            <div class="control">
                                <div class="select">
                                <select id="to">
                                    <option value=0>EVERYONE</option>
                                    <option value=1>Red</option>
                                    <option value=2>Blue</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column is-4">
                    <div class="notification is-primary is-hidden" id="notify">
                        <span id="good-morning-everyone"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="greetings">
        {% for greeting in greetings %}
        <div class="box">
          <p><span>{{ greeting.name }}</span> said Good Morning to {{ greeting.to }}z!</p>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url);

            $("#say_good_morning_form").submit(function(event) {
                socket.emit('say', {'name': $('#your-name').val(), "to": $("#to").val()});
                $('#your-name').val('');
                return false;
            });

            $('input[type="checkbox"]').click(function(event) {
                if ($(this).is(":checked")) {
                    socket.emit("join", {"to": this.value});
                }
                else {
                    socket.emit("leave", {"to": this.value});
                }
            });

            socket.on('gm', function(greeting) {
                $("#greetings").append('<div class="box"><p><span class="has-text-weight-bold">' + greeting.name + '</span> said Good Morning to ' + greeting.to + '!<p></div>');
            });

            socket.on("broadcast", function(data) {
                $("#good-morning-everyone").text(data.name + " said GOOD MORNING to everyone!");
                $("#notify").removeClass("is-hidden");
                $("#notify").fadeOut(3000, function(complete){
                    $("#notify").addClass("is-hidden");
                    $("#notify").removeAttr("style");
                });
            })
        });
    </script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
    </script>
</body>
</html>
